@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn {
		@apply px-3 py-3
			mx-auto rounded-md shadow-lg transform hover:scale-110 duration-300
			font-semibold bg-red-500 active:bg-red-900 focus:outline-none;
	}

	.modal {
		@apply mx-auto
			rounded-lg shadow-lg transform hover:scale-105 duration-100
			bg-gray-200 active:bg-gray-200;
	}
}

@font-face {
	font-family: "Nunito Regular";
	src: url("./res/fonts/Nunito-Regular.ttf");
}

@layer utilities {
	.modal-content-scroll::-webkit-scrollbar {
		display: none;
	}
	.modal-content-scroll {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}